<% @board_view_helper = BoardViewHelper::Board.new(reduced_table)%>
<table>
  <tr>
    <th></th>
    <% (1..10).each do |col_index| %>
      <th><%= col_index %></th>
    <% end %>
  </tr>
  <% reduced_table.abs_freqs.each_with_index do |row, row_index| %>
    <tr>
      <td class='row-label'><%= row_index + 1%></th>
      <% row.each_with_index do |abs_freq, col_index| %>
        <td data-row="<%= row_index+1 %>" data-col="<%= col_index+1 %>" data-target='<%= @board_view_helper.target_at(row_index+1, col_index+1) %>' data-status='<%= @board_view_helper.status_at(row_index+1, col_index+1) %>' style='background-color: <%= @board_view_helper.background_color_at(row_index+1, col_index+1) %>'><%= @board_view_helper.status_at(row_index+1, col_index+1) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
